{% extends "index.html" %}

{% block title %} Norah Blog Website {% endblock %}

{% block content %}
<p><a href="#">Home</a> || <a href="users/">Users</a> || <a href="blogs/">Blogs</a> || <a href="comments/">Comments</a> || <a href="/categories/">Categories</a></p>

  <h1>Norah's Blog Website</h1>

    <h3>blog</h3> <p>Check out all our <a href="blog/">blogs</a></p>
    <h3>users</h3> <p>Check out all our users <a href="users/">users</a></p>
    <h3>Comments</h3> <p>Check out all posts comments <a href="comments/">comments</a></p>
    <h3>Categories</h3> <p>Check out all blog categories <a href="categories/">categories</a></p>

{% endblock %}